.about {
    margin: auto!important;
    padding-top: 3rem;
    &-mission__vision {
        display: grid;
        grid-template-columns: 1fr;
    }
    &-vision {
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.3)), url($lionPicture) center top;
    }
    &-mission {
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.3)), url($handsPicture) center top;
    }
    &-vision,
    &-mission {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center center;
        padding: 5rem;
        height: 100vh;
        img {
            width: 100%;
            padding: 1rem;
            border-radius: 10rem;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            -o-border-radius: 10rem;
        }
        h3 {
            text-align: center;
            font-size: 4rem;
            color: $primary-color;
        }
        p {
            text-align: left;
            color: $primary-color;
            margin-top: 2rem;
            background: rgba(0, 0, 0, 0.7);
            padding: 1rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
    }
    &-the__Qs {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        &-who-is {
            background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.3)), url($liftPicture) center top;
        }
        &-when-was {
            background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.3)), url($helpPicture) center top;
        }
        &-who-is,
        &-when-was {
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-position: center center;
            padding: 5rem;
            height: 100vh;
            h3 {
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
                color: $primary-color;
                border-radius: 10rem;
                -webkit-border-radius: 10rem;
                -moz-border-radius: 10rem;
                -ms-border-radius: 10rem;
                -o-border-radius: 10rem;
            }
            p {
                text-align: left;
                color: $primary-color;
                margin-top: 2rem;
                padding: 1.5rem;
                border-radius: 2.5rem;
                -webkit-border-radius: 2.5rem;
                -moz-border-radius: 2.5rem;
                -ms-border-radius: 2.5rem;
                -o-border-radius: 2.5rem;
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
    &_quote_bg {
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.7)), url($lionPicture) center top;
        background-size: cover;
        background-position: center center;
    }
    &__quotes {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 100vh;
        align-items: stretch;
        margin: auto !important;
        padding: 2rem 0.5rem;
        &-quote {
            margin: 0.5rem;
            border: 2px solid $secondary-color;
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;
            img {
                width: 100%;
                height: 40%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }
            p {
                padding: 1rem;
                color: $primary-color;
            }
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
    }
    &-portfolio {
        background-color: brown;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0rem;
        img {
            width: 50%;
            border-radius: 5rem;
            -webkit-border-radius: 5rem;
            -moz-border-radius: 5rem;
            -ms-border-radius: 5rem;
            -o-border-radius: 5rem;
        }
        h3 {
            color: $primary-color;
            font-size: 2.5rem;
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
}