.author {
    height: 100%;
    padding-top: 20vh;
    align-items: center;
    text-align: center;
    color: $primary-color;
    background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.7)), url($director100) center top;
    background-size: cover;
    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid set-text-color($darkBg);
        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }
    p {
        padding: 0.5rem;
        text-align: justify;
    }
}