.book-store {
    padding-bottom: 2rem;
    &__note {
        height: 50vh;
        width: 100%;
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.3)), url($dummyPicture) center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: $primary-color;
        align-items: center;
        justify-content: flex-end;
        p {
            font-size: 1.2rem;
            padding: 0.25rem;
            background: rgba(0, 0, 0, 0.603);
            margin: 0.25rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            a {
                &:hover {
                    color: blue;
                }
            }
        }
        h4 {
            font-size: 2.5rem;
        }
    }
    &__latest-alerts__books {
        background: rgba(43, 177, 10, 0.63);
        padding-bottom: 1.5rem;
    }
    .author-latest {
        display: grid;
        grid-template-columns: 1fr;
        &__book-alert {
            background: linear-gradient( to right, rgba($darkBg, 1.1), rgba($darkBg, 0.8)), url($dummyPicture) center top;
            color: rgba(177, 152, 10, 0.932);
            font-weight: bold;
            position: relative;
            font-size: 3rem;
            text-align: center;
            margin: 0.5rem;
            .bookSpan {
                font-style: italic;
                color: $secondary-color;
                font-weight: bold;
            }
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
        &__author {
            bottom: 1rem;
            right: 0.7rem;
            position: fixed;
            display: flex;
            flex-direction: column;
            color: rgba(177, 152, 10, 0.932);
            background: $primary-color;
            font-weight: bold;
            font-size: 1.5rem;
            margin: auto;
            border: 0.5px solid $secondary-color;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
            padding: 0.5rem;
            @include transition-ease;
            text-decoration: none;
            &:hover {
                color: $secondary-color;
            }
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
    }
    .book-store__latest {
        width: 85vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    &__books {
        width: 85vw;
        margin: 3rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    &__book {
        padding: 0rem;
        position: relative;
        border-bottom: 5px solid $secondary-color;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
        overflow: hidden;
        .book_img_descrip {
            display: flex;
            flex-direction: column;
            p {
                padding: 0.5rem;
            }
            img {
                height: 45vh;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }
        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
            }
            .book-store__btn {
                opacity: 1;
                text-decoration: none;
            }
        }
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }
    &__btn {
        opacity: 0;
        font-size: 1.5rem;
        color: set-text-color($secondary-color);
        @include transition-ease;
        &:hover {
            color: set-text-color(set-text-color($secondary-color));
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
}