.bookInfo {
    background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.7)), url($dummyPicture) center top;
    background-size: cover;
    &-book {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        height: 100%;
        color: $primary-color;
        width: 90vw !important;
        img {
            margin: auto;
            height: 70%;
            width: 60%;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
        .cover__descr {
            display: flex;
            flex-direction: row;
            margin: auto;
        }
        &-price__buy {
            padding: 0.5rem;
            width: 100%;
            text-align: center;
        }
        h3 {
            color: $secondary-color;
            font-weight: bold;
        }
        &-description {
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            h2 {
                text-align: center;
            }
            p {
                padding: 1rem;
                background: rgba(0, 0, 0, 0.658);
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
            }
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
}