// variables
$primary-color: white;
$darkBg: #343a40;
$secondary-color: #ff652f;
$dummyPicture:'../img/icon.PNG';
// Director profile pictures
$director100:'../img/DirectorProfile/director.jpg';
$director101:'../img/DirectorProfile/psPeter.PNG';
// quotes
$handsPicture:'../img/quotes/hands.jpg';
$lionPicture:'../img/quotes/lion.jpg';
$ostriPicture:'../img/quotes/ostrich-family.jpg';
$liftPicture:'../img/quotes/lift.jpg';
$helpPicture:'../img/quotes/help.jpg';
$all-kids:'../img/quotes/all-kids.jpg';
$equity:'../img/quotes/equity.jpg';
$goo-edu:'../img/quotes/goo-edu.jpg';
$speak:'../img/quotes/speak.jpg';
$we-are:'../img/quotes/we-are.jpg';
// book covers
$holyBibleTreasures:'../img/books/holyBibleTreasures.PNG';
$the7sealsNtreasures:'../img/books/the7sealsNtreasures.PNG';
$theMiracleChrist:'../img/books/theMiracleChrist.PNG';
$theOldTestament:'../img/books/theOldTestament.PNG';
$theSanctuary:'../img/books/theSanctuary.PNG';
// resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return black;
    }
    @else {
        @return(white);
    }
}