.slideCanvas {
    color: $primary-color;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    align-items: center;
    padding: 40vh 5vh;
    height: 100vh;
}

.slide1 {
    background-image: url("../img/background1.jpg");
}

.slide2 {
    background-image: url("../img/background2.jpg");
}

.slide3 {
    background-image: url("../img/background3.jpg");
}

.slide1,
.slide2,
.slide3 {
    background-position: center center;
}

.home {
    align-items: center;
    text-align: center;
    &-welcomeNote {
        padding: 2%;
        align-items: center;
        &__colorful {
            font-weight: bold;
            font-style: italic;
            color: blue;
        }
    }
    &-favQuotes {
        height: 100vh;
        margin: auto !important;
        &__quote {
            color: $primary-color;
            background: rgba(0, 0, 0, 0.8);
            background-size: cover;
            align-items: center;
            height: 100vh;
            display: flex;
            flex-direction: row;
            img {
                width: 60%;
                margin: 2rem;
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
            }
            p {
                font-size: large;
                z-index: 2;
                padding: 1.5rem;
                text-align: justify;
            }
        }
        &__quote-1 {
            background-image: url("../img/quotes/hands.jpg");
        }
        &__quote-2 {
            background-image: url("../img/quotes/lion.jpg");
        }
        &__quote-3 {
            background-image: url("../img/quotes/ostr.jpg");
        }
        &__quote-1,
        &__quote-2,
        &__quote-3 {
            background-position: center center;
        }
    }
    &-services {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        padding-top: 2rem;
    }
    &-services__item {
        overflow: hidden;
        border: 2px solid $secondary-color;
        padding: 1rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        img {
            width: 100%;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;
        }
        p {
            text-align: justify;
        }
    }
    &-discussions {
        width: 90vw;
        margin: 2rem auto !important;
    }
    &-discussions__days-Q {
        padding: 2rem;
        align-items: center;
        background-color: yellowgreen;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.175);
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
        .home-discussions__discuss {
            font-weight: bold;
            color: set-text-color($darkBg);
            padding-bottom: 0.5rem;
            border-bottom: 2px dashed $secondary-color;
        }
        .sub {
            font-style: italic;
            font-size: small;
            border-left: 0;
            border-right: 0;
            padding-top: 0.5rem;
            color: $primary-color;
        }
        p {
            font-size: large;
            border-left: 4px solid $secondary-color;
            border-right: 4px solid $secondary-color;
        }
    }
    &-discussions__feeds {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        &__facebook {
            border: 2px solid $secondary-color;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;
        }
        &__instagram {
            border: 2px solid $secondary-color;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;
        }
    }
    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 0.5rem;
        display: flex;
        flex-direction: column;
        .fa-twitter {
            color: lightblue;
        }
        .fa-facebook {
            color: blue;
        }
        .fa-instagram {
            color: purple;
        }
        .fa-twitter,
        .fa-facebook,
        .fa-instagram {
            margin: 0.4rem 0;
            @include transition-ease;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}