.parenting {
    &-letter-outerLayer {
        padding-top: 25vh;
        padding-bottom: 10vh;
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.6)), url($dummyPicture) center center;
    }
    &-letter {
        margin: auto !important;
        padding: 0.5rem;
        height: 100%;
        width: 70vw;
        background: linear-gradient( to right, rgba($darkBg, 0.7), rgba($darkBg, 0.4)), rgba(97, 31, 31, 0.719) center top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        &__body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            &-style {
                margin: 0.5rem;
                border: 0.15px solid $secondary-color;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
                strong {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    color: $primary-color;
                    span {
                        margin: auto !important;
                        background-color: $secondary-color;
                        font-weight: bold;
                        font-size: 1.1rem;
                        padding: 1.5rem;
                        border-radius: 2.5rem;
                        -webkit-border-radius: 2.5rem;
                        -moz-border-radius: 2.5rem;
                        -ms-border-radius: 2.5rem;
                        -o-border-radius: 2.5rem;
                    }
                    .style-header {
                        padding: 0.5rem;
                        background-color: brown;
                        margin: 0.25rem;
                        border-radius: 0.5rem;
                        -webkit-border-radius: 0.5rem;
                        -moz-border-radius: 0.5rem;
                        -ms-border-radius: 0.5rem;
                        -o-border-radius: 0.5rem;
                    }
                }
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
            }
        }
        .ps-hope {
            font-style: italic;
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            color: $primary-color;
            margin-bottom: 2rem;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
        h4 {
            font-style: italic;
            font-weight: bold;
        }
        h3,
        h4 {
            color: $secondary-color;
            text-align: center;
        }
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    &__items {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
    &__tip-1,
    &__tip-2,
    &__tip-3 {
        position: relative;
        overflow: hidden;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background: linear-gradient( to right, rgba($darkBg, 0.7), rgba($darkBg, 0.4)), url($dummyPicture) center center;
        background-size: cover;
        img {
            margin: auto;
        }
        p {
            background: rgba(0, 0, 0, 0.555);
            color: $primary-color;
            margin: auto 0.5rem;
            padding: 0.6rem;
            border-radius: 0.8rem;
            -webkit-border-radius: 0.8rem;
            -moz-border-radius: 0.8rem;
            -ms-border-radius: 0.8rem;
            -o-border-radius: 0.8rem;
        }
        .parenting__tip {
            display: flex;
            flex-direction: row;
            height: 100vh;
            width: 80%;
            margin: auto!important;
        }
    }
    &__quote {
        display: flex;
        flex-direction: column-reverse;
        margin: auto !important;
        padding: 2rem;
        height: 100vh;
        img {
            margin: auto;
        }
        p {
            margin: auto 0.5rem;
            padding: 0.5rem;
            color: $primary-color;
            text-align: center;
            background: rgba(0, 0, 0, 0.555);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
}