.training {
    &-who_train {
        height: 45vh;
        color: $primary-color;
        padding: 0.5rem;
        width: 100%;
        background: linear-gradient( to right, rgba($secondary-color, 0.9), rgba($darkBg, 0.5)), url($dummyPicture) center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        h3 {
            font-size: 1.5rem;
            color: $primary-color;
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 2rem;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.603);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
        }
    }
    &-how_to_book {
        height: 60vh;
        color: $primary-color;
        width: 100%;
        padding: 0.5rem;
        background: linear-gradient( to right, rgba($darkBg, 0.9), rgba($darkBg, 0.5)), url($dummyPicture) center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        h3 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.1rem;
            margin-top: 0.2rem !important;
            margin-bottom: 0.2rem !important;
            padding: 0.5rem;
            background: rgba(0, 0, 0, 0.582);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            span {
                color: $secondary-color;
                font-weight: bold;
            }
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
}