@import "./config";
@import "./home";
@import "./menu";
@import "./about";
@import "./bookstore";
@import "./bookInfo";
@import "./authorProfile";
@import "./training";
@import "./parenting";
@import "./responsive";
body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    color: set-text-color($primary-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
}

.navbar-brand__icon {
    height: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
    padding: 0.1rem;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    @include transition-ease;
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(99, 39, 5, 0.877) !important;
    }
}

.social-icons {
    position: fixed;
    bottom: 1rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    .fa-twitter {
        color: #6db9e9;
    }
    .fa-facebook {
        color: #5779c0;
    }
    .fa-instagram {
        color: #9969b4;
    }
    .fa-twitter,
    .fa-facebook,
    .fa-instagram {
        margin: 0.4rem 0;
        @include transition-ease;
        &:hover {
            color: $secondary-color;
        }
    }
}

footer {
    bottom: 1rem;
    padding: 1rem;
    background-color: $darkBg;
    color: $primary-color;
    a {
        color: greenyellow;
        text-decoration: none;
        @include transition-ease;
        &:hover {
            text-decoration: none;
        }
    }
    .footer-details {
        margin: auto !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &__contact {
            text-align: center;
            address {
                p {
                    padding: 0.1rem !important;
                    padding-top: 0.01rem !important;
                }
            }
        }
        &__developer {
            text-align: center;
            img {
                height: 40%;
                width: 50%;
                margin-bottom: 0.5rem;
                background-color: #6db9e9;
                border: 2px solid rgba(27, 24, 29, 0.589);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.514) !important;
                border-radius: 0.45rem;
                -webkit-border-radius: 0.45rem;
                -moz-border-radius: 0.45rem;
                -ms-border-radius: 0.45rem;
                -o-border-radius: 0.45rem;
            }
            .contact-develer {
                display: flex;
                flex-direction: column;
                &__email,
                &__webaddress {
                    text-align: center;
                    padding: 0.25rem;
                }
            }
        }
    }
    .copy-right__Ark {
        padding-top: 0.5rem;
        text-align: center;
    }
}